<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176235969912-kqn7t352lvldn1j6ls041o373p93t1e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176235969912-kqn7t352lvldn1j6ls041o373p93t1e2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176235969912-upt4sqie06i9snb4buqu8hhj7rnlvvu0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5eUJgW4FVyhUVAFckM2l-3Tg5aqlLCU</string>
	<key>GCM_SENDER_ID</key>
	<string>176235969912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dancingwhale.halloDoctor</string>
	<key>PROJECT_ID</key>
	<string>socialapp-b2814</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-b2814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176235969912:ios:0894352af5c1e647a2dc8d</string>
</dict>
</plist>